###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

gitpod_config/apache/logs/*.log
gitpod_config/mysql/logs/*.log
gitpod_config/mysql/data/**/*
.env
.htaccess