.container {
  position: relative;
  @extend .flex;
  width: 100%;
}
.listPanel {
   @extend .flex;
  width: 100%;
}
.property {
  min-width: 20%;
}
.filterPanel{
  @extend .flex;
  width: 100%;
  flex-direction: column;
}
.filterGroup {
  @extend .flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
